version: '3'

services:
  php:
    build: docker/images/php  # image: php:7.4-fpm
    container_name: ${APP_NAME}_${CONTAINER_PHP}
    env_file:
      - .env
    volumes:
      - './src:/var/www/html'
    networks:
      - backend

  nginx:
    image: nginx:latest
    container_name: ${APP_NAME}_${CONTAINER_NGINX}
    ports:
      - ${NGINX_PORT}:80
    volumes:
      - './src:/var/www/html'
      - './docker/hosts:/etc/nginx/conf.d'
      - './docker/logos:/var/log/nginx'
    networks:
      - backend

  mysql:
    image: mysql:8
    container_name: ${APP_NAME}_${CONTAINER_MYSQL}
    restart: always
    ports:
      - ${MYSQL_PORT}:3306
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - './docker/mysql:/var/lib/mysql'
    networks:
      - backend

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: ${APP_NAME}_${CONTAINER_PHPMYADMIN}
    ports:
      - ${PHPMYADMIN_PORT}:80
    restart: always
    environment:
      PMA_HOST: ${APP_NAME}_${CONTAINER_MYSQL}
    depends_on:
      - mysql
    networks:
      - backend

networks:
  backend:
    driver: bridge



